PORT=3000
JWT_SECRET=change_this_to_a_long_random_secret
JWT_EXPIRES_IN=30m

APP_USERNAME=admin26
APP_PASSWORD_HASH=<run: node scripts/hash-password.js yourpassword>

OTP_TO_EMAIL=karimarafa9@gmail.com

SMTP_USER=karimarafa9@gmail.com
SMTP_PASS=lzsd tegn prdq ijay

CORS_ORIGIN=https://haj26.najoub.com
